@royal: #4064aa;
@purple: #8755b1;
@toodarktext: #4f5a6d;
@offtext: #3b3e45;

html, body {
	margin: 0;
	padding: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    background:linear-gradient(to bottom, rgba(5,23,51,1) 0%,rgba(30,93,112,1) 56%,rgba(45,142,139,1) 90%,rgba(168,224,193,1) 97%,rgba(255,255,255,1) 100%);
    font-size: 14px;
    color: white;
}

div {
    //outline:1px solid red;
}

a {
    color: @royal;
    text-decoration: none;
    &:visited {
        color: @purple;
    }
}

@media screen and (min-width: 800px) {
    #container {
        background: url("../img/stars.png");
    }
    #header, #content {
        width: 800px;
        margin: 1em auto;
    }
    
    #header {
        text-align: center;
        a {
            color: white;
        }
        h1 {
            font-size: 48px;
        }
    }
    
    #content {
        padding-bottom: 20em;
        line-height: 1.8;
        .section {
            padding: 0 1em 1em;
            margin: 1em 0;
            background: rgba(255,255,255,0.09);
            background: rgba(0,0,0,0.06);
            border: 1px solid rgba(0,0,0,0.5);
            border-radius: 5px;
            a {
                border: 1px solid rgba(255,255,255,0.3);
                border-radius: 3px;
                background: rgba(255,255,255,0.1);
                padding: 3px 5px;
            }
        }
        .tile {
            width: 150px;
            background: white;
            color: @royal;
            display:inline-block;
            vertical-align: top;
            border: 1px solid rgba(0,0,0,0.5);
            border-radius: 10px;
            padding: 0.5em;
            margin: 5px;
            img {
                width: 150px;
            }
        }
    }
}