@royal: #4064aa;
@purple: #8755b1;
@toodarktext: #4f5a6d;
@offtext: #3b3e45;

html, body {
	margin: 0;
	padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background:linear-gradient(to bottom, rgba(5,23,51,1) 0%,rgba(30,93,112,1) 26%,rgba(45,142,139,1) 67%,rgba(168,224,193,1) 87%,rgba(255,255,255,1) 100%);
    background-attachment:fixed;
    font-size: 14px;
    color: white;
}

div {
    //outline:1px solid red;
}

a {
    color: @royal;
    &:visited {
        color: @purple;
    }
}

@media screen and (min-width: 800px) {
    #container {
        background: url("../img/stars.png");
    }
    #header, #content {
        width: 800px;
        margin: 1em auto;
    }
    
    #header {
    }
    
    #content {
        margin-bottom: 20em;
        .section {
            padding: 1em;
            background: rgba(255,255,255,0.06);
            border: 1px solid rgba(255,255,255,0.2);
            border-radius: 5px;
        }
        .tile {
            
        }
    }
}